<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@200;500;900&family=Roboto:wght@100;300;400;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="css/style.css" />
    <title>Mercado Liebre</title>
</head>
<body>
    <header>
        <nav>
            <img src="./imagenes/logo-mercado-liebre.png" width="100px" alt="logo" /> 
            <form action=""method="get">
                <input 
                    type="text"
                    name=""
                    id=""
                    placeholder="Buscar productos, marcas"
                />
                <button type="submit">enviar</button>
            </form>
             <p>compra en cuotas y in targeta de credito</p>
            <ul>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tindas oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>

                <li><a href="/registro.html">Creà tu cuenta</a></li>
                <li><a href="#">ingresà</a></li>
                <li><a href="#">Mis compras</a></li>
            </ul>
            <div class="hamburguesa"><i class="fa-solid fa-bars"></i></div>
              
        </nav>
        <div class="banner"> <img src="./imagenes/img-home-banner.jpg" alt=""></div>
    </header>
    <main>
        <form class="formulario" action="#" method="post">
            <input type="text" name="nombre" placeholder="Nombre y Apellido">
            <input type="text" name="nombre" placeholder="Nombre de usuario">
            <input 
            type="password" 
            name="password" 
            placeholder="Elegi tu cotraseña"
            />
            <input type="text" name="correo" placeholder="E-mail">
            <label for="fechaDeNacimiento">Fecha de Nacimiento</label>
        <input type="date" name="fechaDeNacimiento">
        <input type="text" name="Domicilio" placeholder="Domicilio">
            
            <label class="usuario">Perfil del Usuario</label>
            <div class="Perfil">
            <label for="">comprador</label>
            <input type="radio" name="Perfil-del-Usuario" id="" value="comprador">
            <label for="">vendedor</label>
            <input type="radio" name="Perfil-del-Usuario" id="" value="vendedor">
        </div>
        <label for="" class="usuario">Intereses</label>
        <label for="">hogar</label>
        <input type="checkbox" name="Intereses" id="" value="hogar">
        <label for="">moda</label>
        <input type="checkbox" name="Intereses" id="" value="moda">
        <label for="">jugueteria</label>
        <input type="checkbox" name="Intereses" id="" value="jugueteria">
        <label for="">electro</label>
        <input type="checkbox" name="Intereses" id="" value="electro">
        <label for="">vida sana</label>
        <input type="checkbox" name="Intereses" id="" value="vida sana">

        <label for="NombreyApellido">Nombre y Apellido:</label>
        <input type="text"NombreyApellido>
        <label for="">Mercado Pago</label>
        <input type="radio" name="metodo-pago" id="value=mercadopago" />
        <label for="">foto</label>
        <input type="file"name="" id=""/>
        <label for="pass">Contraseña</label>
        <input type="password" name="pass" id="pass"/>
        <label for="confirmarpass">Confirmar Contraseña</label>
         <input type="password" name="confirmarpass" id="confirmarpass"/>
         <button class="button" type="submit">Enviar</button>
         <button class="button" type="reset">Borrar</button>

        </form>
    </main>
    <footer>
        <section>
        <h2 class="titule">Ofertas</h2>
        <h3>Pagá con targeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
puntos de pago. ¡Y siempre es seguro!
            </p>
            <h3>Envío gratis desde $ 2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
                <h3>Seguridad, de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
                    <h3>Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
        </section>
    </footer>
</body>
</html>